<?xml version="1.0"?>
<model>
  <name>dreamer_testbed_floating_camera</name>
  <version>1.0</version>
  <sdf>urdf/camera.urdf</sdf>

  <author>
   <name>Chien-Liang Fok</name>
   <email>liangfok@gmail.com</email>
  </author>

  <description>
    A camera whose pose can be arbitrarily selected.
  </description>
</model>
