<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_rviz">

    <!-- Gazebo uses model:// for the model path. -->
    <property name="modelPath" value="model://valkyrie" />

    <xacro:include filename="$(find valkyrie)/models/valkyrie/xacro/valkyrie_colors.xacro" />
    <xacro:include filename="$(find valkyrie)/models/valkyrie/xacro/valkyrie_upperbody_base.xacro" />

    <gazebo version='1.2'>
        <!-- The following plugin pins the robot to the world. -->
        <plugin filename="libPinPlugin.so" name="PinPlugin">
            <pin_root_link>1</pin_root_link>
        </plugin>
    </gazebo>

</robot>

