<?xml version="1.0"?>
<model>
  <name>valkyrie_upperbody</name>
  <version>1.0</version>
  <sdf>urdf/valkyrie_upperbody_gazebo.urdf</sdf>

  <author>
   <name>NASA JSC</name>
   <email>user@host.com</email>
  </author>

  <description>
    The upperbody of the Valkyrie humanoid robot.
  </description>
</model>
