<?xml version="1.0"?>
<model>
    <name>stickbot_lowerleg_3dof</name>
    <version>1.0</version>
    <sdf>urdf/stickbot_lowerleg_3dof.urdf</sdf>

    <author>
       <name>Gwendolyn Johnson</name>
       <email>user@host.com</email>
    </author>

    <description>
        A simple 3 DOF lower leg stick bot.
    </description>
</model>
