<?xml version="1.0"?>
<model>
  <name>stickbot_bipedal_12dof</name>
  <version>1.0</version>
  <sdf>urdf/stickbot_bipedal_12dof.urdf</sdf>

  <author>
   <name>Gwendolyn Johnson</name>
   <email>user@host.com</email>
  </author>

  <description>
    A simple 12 DOF bipedal stick bot.
  </description>
</model>
