<?xml version="1.0"?>
<model>
  <name>stickbot_humanoid_32dof</name>
  <version>1.0</version>
  <sdf>urdf/stickbot_humanoid_32dof.urdf</sdf>

  <author>
   <name>Gwendolyn Johnson</name>
   <email>user@host.com</email>
  </author>

  <description>
    Stick bot to mimic whole robot with four limbs
  </description>
</model>
