<?xml version="1.0"?>
<model>
    <name>trikey_pinned</name>
    <version>1.4</version>
    <sdf>urdf/trikey_pinned.urdf</sdf>

    <author>
        <name>Chien-Liang Fok</name>
        <email>liangfok@gmail.com</email>
    </author>

    <description>
        The Trikey Pinned robot.
    </description>
</model>
