<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="atlas_legs_plain" >

	<!-- gazebo uses model:// for the model path. -->
    <property name="modelPath" value="model://atlas_plain" />

    <xacro:include filename="$(find atlas_legs_plain)/models/atlas_legs_plain/xacro/atlas_legs_plain_base.xacro" />
    <atlas_legs_plain />

</robot>