<?xml version="1.0" ?>
<launch>
    <!-- Load the robot description parameter-->
    <param name="robot_description"
        command="$(find xacro)/xacro.py '$(find stickbot_humanoid_32dof)/models/stickbot_humanoid_32dof/xacro/stickbot_humanoid_32dof_linked_to_world.xacro'" />

    <include file="$(find controlit_models_common)/launch/rviz.xml"/>
</launch>