<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="dreamer_hand">

  <!-- Gazebo should model all of the joints in the robot.  -->
  <!-- <xacro:property name="HAND_JOINT_TYPE" value="revolute" /> -->

  <!-- For debugging purposes, fix the hand joints -->
  <xacro:property name="RIGHT_HAND_JOINT_TYPE" value="revolute" />

  <!-- Gazebo uses model:// for the model path. -->
  <xacro:property name="modelPath" value="model://dreamer" />

  <xacro:include filename="$(find dreamer_hand)/models/dreamer_hand/xacro/dreamer_hand_base.xacro" />
</robot>

