<?xml version="1.0" ?>
<launch>
    <!-- Enable simulation time -->
    <param name="/use_sim_time" type="bool" value="true"/>

    <!-- Set the parameters used by the Sandia Hands -->

    <!-- Proportional Gains -->
    <param name="/sandia_hands/gains/left_f0_j0/p"  type="double" value="100"/>
    <param name="/sandia_hands/gains/left_f0_j1/p"  type="double" value="100"/>
    <param name="/sandia_hands/gains/left_f0_j2/p"  type="double" value="100"/>
    <param name="/sandia_hands/gains/left_f1_j0/p"  type="double" value="100"/>
    <param name="/sandia_hands/gains/left_f1_j1/p"  type="double" value="100"/>
    <param name="/sandia_hands/gains/left_f1_j2/p"  type="double" value="100"/>
    <param name="/sandia_hands/gains/left_f2_j0/p"  type="double" value="100"/>
    <param name="/sandia_hands/gains/left_f2_j1/p"  type="double" value="100"/>
    <param name="/sandia_hands/gains/left_f2_j2/p"  type="double" value="100"/>
    <param name="/sandia_hands/gains/left_f3_j0/p"  type="double" value="100"/>
    <param name="/sandia_hands/gains/left_f3_j1/p"  type="double" value="100"/>
    <param name="/sandia_hands/gains/left_f3_j2/p"  type="double" value="100"/>
    <param name="/sandia_hands/gains/right_f0_j0/p" type="double" value="100"/>
    <param name="/sandia_hands/gains/right_f0_j1/p" type="double" value="100"/>
    <param name="/sandia_hands/gains/right_f0_j2/p" type="double" value="100"/>
    <param name="/sandia_hands/gains/right_f1_j0/p" type="double" value="100"/>
    <param name="/sandia_hands/gains/right_f1_j1/p" type="double" value="100"/>
    <param name="/sandia_hands/gains/right_f1_j2/p" type="double" value="100"/>
    <param name="/sandia_hands/gains/right_f2_j0/p" type="double" value="100"/>
    <param name="/sandia_hands/gains/right_f2_j1/p" type="double" value="100"/>
    <param name="/sandia_hands/gains/right_f2_j2/p" type="double" value="100"/>
    <param name="/sandia_hands/gains/right_f3_j0/p" type="double" value="100"/>
    <param name="/sandia_hands/gains/right_f3_j1/p" type="double" value="100"/>
    <param name="/sandia_hands/gains/right_f3_j2/p" type="double" value="100"/>

    <!-- Integral Gains -->
    <param name="/sandia_hands/gains/left_f0_j0/i"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f0_j1/i"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f0_j2/i"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f1_j0/i"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f1_j1/i"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f1_j2/i"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f2_j0/i"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f2_j1/i"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f2_j2/i"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f3_j0/i"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f3_j1/i"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f3_j2/i"  type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f0_j0/i" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f0_j1/i" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f0_j2/i" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f1_j0/i" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f1_j1/i" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f1_j2/i" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f2_j0/i" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f2_j1/i" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f2_j2/i" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f3_j0/i" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f3_j1/i" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f3_j2/i" type="double" value="0"/>

    <!-- Derivative Gains (change in position error over time gain)-->
    <param name="/sandia_hands/gains/left_f0_j0/d"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f0_j1/d"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f0_j2/d"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f1_j0/d"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f1_j1/d"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f1_j2/d"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f2_j0/d"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f2_j1/d"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f2_j2/d"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f3_j0/d"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f3_j1/d"  type="double" value="0"/>
    <param name="/sandia_hands/gains/left_f3_j2/d"  type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f0_j0/d" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f0_j1/d" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f0_j2/d" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f1_j0/d" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f1_j1/d" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f1_j2/d" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f2_j0/d" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f2_j1/d" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f2_j2/d" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f3_j0/d" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f3_j1/d" type="double" value="0"/>
    <param name="/sandia_hands/gains/right_f3_j2/d" type="double" value="0"/>

    <!-- i_clamp Value -->
    <param name="/sandia_hands/gains/left_f0_j0/i_clamp"  type="double" value="1000"/>
    <param name="/sandia_hands/gains/left_f0_j1/i_clamp"  type="double" value="1000"/>
    <param name="/sandia_hands/gains/left_f0_j2/i_clamp"  type="double" value="1000"/>
    <param name="/sandia_hands/gains/left_f1_j0/i_clamp"  type="double" value="1000"/>
    <param name="/sandia_hands/gains/left_f1_j1/i_clamp"  type="double" value="1000"/>
    <param name="/sandia_hands/gains/left_f1_j2/i_clamp"  type="double" value="1000"/>
    <param name="/sandia_hands/gains/left_f2_j0/i_clamp"  type="double" value="1000"/>
    <param name="/sandia_hands/gains/left_f2_j1/i_clamp"  type="double" value="1000"/>
    <param name="/sandia_hands/gains/left_f2_j2/i_clamp"  type="double" value="1000"/>
    <param name="/sandia_hands/gains/left_f3_j0/i_clamp"  type="double" value="1000"/>
    <param name="/sandia_hands/gains/left_f3_j1/i_clamp"  type="double" value="1000"/>
    <param name="/sandia_hands/gains/left_f3_j2/i_clamp"  type="double" value="1000"/>
    <param name="/sandia_hands/gains/right_f0_j0/i_clamp" type="double" value="1000"/>
    <param name="/sandia_hands/gains/right_f0_j1/i_clamp" type="double" value="1000"/>
    <param name="/sandia_hands/gains/right_f0_j2/i_clamp" type="double" value="1000"/>
    <param name="/sandia_hands/gains/right_f1_j0/i_clamp" type="double" value="1000"/>
    <param name="/sandia_hands/gains/right_f1_j1/i_clamp" type="double" value="1000"/>
    <param name="/sandia_hands/gains/right_f1_j2/i_clamp" type="double" value="1000"/>
    <param name="/sandia_hands/gains/right_f2_j0/i_clamp" type="double" value="1000"/>
    <param name="/sandia_hands/gains/right_f2_j1/i_clamp" type="double" value="1000"/>
    <param name="/sandia_hands/gains/right_f2_j2/i_clamp" type="double" value="1000"/>
    <param name="/sandia_hands/gains/right_f3_j0/i_clamp" type="double" value="1000"/>
    <param name="/sandia_hands/gains/right_f3_j1/i_clamp" type="double" value="1000"/>
    <param name="/sandia_hands/gains/right_f3_j2/i_clamp" type="double" value="1000"/>

    <!--start gazebo with robot-->
    <node args="$(find atlas_plain)/worlds/atlas_plain.world"
        name="gazebo" pkg="hcrl_simulator" type="run_gazebo"/>
</launch>
