<?xml version="1.0" ?>
<launch>
    <!-- Load the robot description parameter-->
    <param name="robot_description"
        command="$(find xacro)/xacro.py '$(find dreamer_hand)/models/dreamer_hand/xacro/dreamer_hand_linked_to_world.xacro'" />

    <include file="$(find controlit_models_common)/launch/rviz.xml">
        <arg name="RVizConfigFile" value="$(find dreamer_hand)/rviz/dreamer_hand.rviz" />
    </include>
</launch>