<?xml version="1.0" ?>
<launch>
    <arg default="gazebo" name="gzname"/>
    <param name="/use_sim_time" type="bool" value="true"/>

    <!-- Load the robot description parameter. -->
    <param name="robot_description" textfile="$(find hume)/models/hume/urdf/hume_with_gazebo_plugins.urdf"/>

    <!--start gazebo with robot-->
    <node args="$(find hume)/worlds/hume_world.world" name="gazebo" pkg="hcrl_simulator" type="run_$(arg gzname)"/>
</launch>
