<?xml version="1.0"?>
<model>
  <name>stickbot_humanoid_32dof_pinned</name>
  <version>1.0</version>
  <sdf>urdf/stickbot_humanoid_32dof_pinned.urdf</sdf>

  <author>
   <name>Gwendolyn Johnson</name>
   <email>user@host.com</email>
  </author>

  <description>
    Stick bot to mimic whole robot with four limbs.  The robot is pinned to the world.
  </description>
</model>
