<?xml version="1.0"?>
<model>
  <name>atlas_plain_pinned</name>
  <version>1.0</version>
  <sdf>urdf/atlas_plain_pinned_with_sandia_hands.urdf</sdf>

  <author>
   <name>Chien-Liang Fok</name>
   <email>user@host.com</email>
  </author>

  <description>
    A plain version of the Atlas robot pinned to the world.
  </description>
</model>
