<?xml version="1.0"?>
<model>
  <name>stickbot_upperbody_10dof</name>
  <version>1.0</version>
  <sdf>urdf/stickbot_upperbody_10dof.urdf</sdf>

  <author>
   <name>Gwendolyn Johnson</name>
   <email>user@host.com</email>
  </author>

  <description>
    Stick bot to mimic dreamer upper body
  </description>
</model>
