<?xml version="1.0"?>
<model>
    <name>trikey</name>
    <version>1.0</version>
    <sdf>urdf/trikey.urdf</sdf>

    <author>
       <name>Chien-Liang Fok</name>
       <email>user@host.com</email>
    </author>

    <description>
        The Trikey omni-directional mobile robot.
    </description>
</model>
