<?xml version="1.0"?>
<model>
    <name>trikey</name>
    <version>1.4</version>
    <!-- <sdf>urdf/trikey.sdf.test</sdf> -->
    <sdf>urdf/trikey.urdf</sdf>

    <author>
        <name>Chien-Liang Fok</name>
        <email>liangfok@gmail.com</email>
    </author>

    <description>
        The Trikey robot.
    </description>
</model>
