<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="valkyrie_rviz">

  <!-- Gazebo uses model:// for the model path. -->
  <xacro:property name="modelPath" value="model://valkyrie" />

  <xacro:include filename="$(find valkyrie)/models/valkyrie/xacro/valkyrie_base.xacro" />
</robot>

