<?xml version='1.0'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="trikey">

    <xacro:include filename="$(find trikey)/models/trikey/xacro/trikey_base.xacro"/>
    <xacro:include filename="$(find omni_wheel)/models/omni_wheel/xacro/omni_wheel.xacro"/>

    <xacro:trikey_base modelPath="model://trikey"/>
    <xacro:omni_wheel_0 modelPath="model://trikey" subwheelJointType="continuous"/>
    <xacro:omni_wheel_1 modelPath="model://trikey" subwheelJointType="continuous"/>
    <xacro:omni_wheel_2 modelPath="model://trikey" subwheelJointType="continuous"/>

    <!-- Add the Gazebo plugin! -->
    <gazebo version='1.2'>
        <!-- <plugin name="trikey_plugin" filename="libdreamer_plugin.so"/> -->
        <!-- <plugin name="trikey_plugin" filename="libtrikey_embedded_control_udp_plugin.so"/> -->
        <!-- <plugin name="trikey_plugin" filename="libtrikey_udp_plugin_with_embedded_control.so"/> -->

        <!-- The following plugin provides ground-truth odometry. -->
        <!-- <plugin name="pos_plugin_ros" filename="libgazebo_ros_p3d.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>1000.0</updateRate>
            <bodyName>trikey_base</bodyName>
            <topicName>/trikey/gazebo/root_link_odom</topicName>
            <frameName>world</frameName>
            <rpyOffset>0 0 0</rpyOffset>
            <xyzOffset>0 0 0</xyzOffset>
        </plugin> -->
    </gazebo>
</robot>
